Repository shuaitian-git/documentdb, changes with the owners that CODEOWNERS names for each.
All owners: @documentdb/documentdb-maintainers, @safern, @visridha, @shuaitian-git, @lichoil

CODEOWNERS:

* @documentdb/documentdb-maintainers

/.pipelines/ @safern @visridha @shuaitian-git @lichoil
/.github/workflows/ @safern @visridha @shuaitian-git @lichoil

*.csv @documentdb/documentdb-maintainers
*.sql @documentdb/documentdb-maintainers
Make* @documentdb/documentdb-maintainers
/internal/ @documentdb/documentdb-maintainers
/pg_documentdb/ @documentdb/documentdb-maintainers
/pg_documentdb_core/ @documentdb/documentdb-maintainers

update
  .github/workflows/build_rpm_packages.yml
Owners: @safern, @visridha, @shuaitian-git, @lichoil

Merged PR 1784970: Fix some rum compile warnings and a correctness issue whe using the new ptr decoding
  internal/pg_documentdb_extended_rum/src/pg_documentdb_rum.h
  internal/pg_documentdb_extended_rum/src/rumentrypage.c
Owners: @documentdb/documentdb-maintainers

Merged PR 1729899: Enable some test cases to exercise rust gateway as well
  pg_documentdb_gw/src/responses/pg.rs
Owners: @documentdb/documentdb-maintainers

Merged PR 1758648: Adding Support for DropRole Command in Engine
  CHANGELOG.md
  pg_documentdb/include/roles.h
  pg_documentdb/include/users.h
  pg_documentdb/src/commands/roles.c
  pg_documentdb/src/commands/users.c
  pg_documentdb/src/test/regress/basic_schedule
  pg_documentdb/src/test/regress/expected/commands_create_role.out
  pg_documentdb/src/test/regress/expected/commands_drop_role.out
  pg_documentdb/src/test/regress/sql/commands_create_role.sql
  pg_documentdb/src/test/regress/sql/commands_drop_role.sql
Owners: @documentdb/documentdb-maintainers

Merged PR 1779054: Update logging levels to get a clean set
  pg_documentdb_gw/Cargo.toml
  pg_documentdb_gw/src/context/service.rs
  pg_documentdb_gw/src/context/transaction.rs
  pg_documentdb_gw/src/explain/mod.rs
  pg_documentdb_gw/src/lib.rs
  pg_documentdb_gw/src/main.rs
  pg_documentdb_gw/src/postgres/data_client.rs
  pg_documentdb_gw/src/processor/process.rs
  pg_documentdb_gw/src/processor/transaction.rs
  pg_documentdb_gw/tests/common/mod.rs
Owners: @documentdb/documentdb-maintainers

Merged PR 1785241: Fix one rum compiler warning propertly
  internal/pg_documentdb_extended_rum/src/rumentrypage.c
Owners: @documentdb/documentdb-maintainers

Merged PR 1784757: [fix] Fix Crash Due to NULL variableSpec and Valid Collation
  CHANGELOG.md
  internal/pg_documentdb_distributed/src/test/regress/expected/bson_dollar_ops_collation_tests_runtime.out
  internal/pg_documentdb_distributed/src/test/regress/sql/bson_dollar_ops_collation_tests_runtime.sql
  pg_documentdb/src/aggregation/bson_aggregation_nested_pipeline.c
  pg_documentdb/src/aggregation/bson_aggregation_pipeline.c
  pg_documentdb/src/query/query_operator.c
Owners: @documentdb/documentdb-maintainers

Merged PR 1788297: [OSS] Fix concurrent upsert bug, reapply the update spec on conflict while instead of replacing with new document
  pg_documentdb/include/commands/insert.h
  pg_documentdb/src/commands/insert.c
  pg_documentdb/src/commands/update.c
  pg_documentdb/src/update/bson_update.c
Owners: @documentdb/documentdb-maintainers

Merged PR 1783524: [fix][collation] Simple Locale
  internal/pg_documentdb_distributed/src/test/regress/expected/bson_dollar_ops_collation_tests_runtime.out
  internal/pg_documentdb_distributed/src/test/regress/sql/bson_dollar_ops_collation_tests_runtime.sql
  pg_documentdb_core/include/collation/collation.h
  pg_documentdb_core/src/collation/collation.c
  pg_documentdb_core/src/query/bson_compare.c
Owners: @documentdb/documentdb-maintainers

Merged PR 1789778: Refine request tracking and telemetry
  pg_documentdb_gw/src/lib.rs
  pg_documentdb_gw/src/requests/request_tracker.rs
Owners: @documentdb/documentdb-maintainers

Merged PR 1791609: [OSS] Update CHANGELOG.md
  CHANGELOG.md
  packaging/debian_files/changelog
  packaging/rpm_files/documentdb.spec
Owners: @documentdb/documentdb-maintainers

Merged PR 1691290: [Gateway][Rust] Redesign certificate handling
  pg_documentdb_gw/Cargo.lock
  pg_documentdb_gw/Cargo.toml
  pg_documentdb_gw/SetupConfiguration.json
  pg_documentdb_gw/src/configuration/certs.rs
  pg_documentdb_gw/src/configuration/mod.rs
  pg_documentdb_gw/src/configuration/setup.rs
  pg_documentdb_gw/src/context/connection.rs
  pg_documentdb_gw/src/context/service.rs
  pg_documentdb_gw/src/lib.rs
  pg_documentdb_gw/src/main.rs
  pg_documentdb_gw/src/postgres/connection.rs
  pg_documentdb_gw/src/protocol/reader.rs
  pg_documentdb_gw/src/responses/writer.rs
  pg_documentdb_gw/src/startup.rs
  pg_documentdb_gw/tests/common/mod.rs
  pg_documentdb_gw/tests/index_tests.rs
  pg_documentdb_gw/tests/text_search_tests.rs
  scripts/emulator_entrypoint.sh
Owners: @documentdb/documentdb-maintainers

Merged PR 1788923: [Cleanup] code cleanup as now empty data table function migrated to 3 arguments
  pg_documentdb/src/aggregation/bson_aggregation_pipeline.c
Owners: @documentdb/documentdb-maintainers

Merged PR 1784924: Utility File and Query Refactoring for Role/User CRUD APIs
  pg_documentdb/include/metadata/metadata_cache.h
  pg_documentdb/include/roles.h
  pg_documentdb/include/users.h
  pg_documentdb/include/utils/role_utils.h
  pg_documentdb/src/commands/roles.c
  pg_documentdb/src/commands/users.c
  pg_documentdb/src/metadata/metadata_cache.c
  pg_documentdb/src/utils/role_utils.c
Owners: @documentdb/documentdb-maintainers

Merged PR 1757033: Activity id for process functions and logging
  pg_documentdb_gw/src/auth.rs
  pg_documentdb_gw/src/configuration/pg_configuration.rs
  pg_documentdb_gw/src/context/mod.rs
  pg_documentdb_gw/src/context/request.rs
  pg_documentdb_gw/src/explain/mod.rs
  pg_documentdb_gw/src/lib.rs
  pg_documentdb_gw/src/postgres/connection.rs
  pg_documentdb_gw/src/postgres/data_client.rs
  pg_documentdb_gw/src/postgres/documentdb_data_client.rs
  pg_documentdb_gw/src/processor/constant.rs
  pg_documentdb_gw/src/processor/cursor.rs
  pg_documentdb_gw/src/processor/data_description.rs
  pg_documentdb_gw/src/processor/data_management.rs
  pg_documentdb_gw/src/processor/indexing.rs
  pg_documentdb_gw/src/processor/ismaster.rs
  pg_documentdb_gw/src/processor/process.rs
  pg_documentdb_gw/src/processor/session.rs
  pg_documentdb_gw/src/processor/transaction.rs
  pg_documentdb_gw/src/processor/users.rs
  pg_documentdb_gw/src/protocol/header.rs
  pg_documentdb_gw/src/requests/mod.rs
  pg_documentdb_gw/src/requests/request_tracker.rs
  pg_documentdb_gw/src/responses/writer.rs
  pg_documentdb_gw/src/telemetry.rs
Owners: @documentdb/documentdb-maintainers

Merged PR 1788321: Add a unit test for limit with large docs
  internal/pg_documentdb_distributed/src/test/regress/expected/bson_aggregation_cursor_tests.out
  internal/pg_documentdb_distributed/src/test/regress/sql/bson_aggregation_cursor_tests.sql
Owners: @documentdb/documentdb-maintainers

DocumentDB sync sha=9a15f7fbc
  syncpoint_oss.txt
Owners: @documentdb/documentdb-maintainers

Merged PR 1754062: [engine] Enable EnableNowSystemVariable & EnableVariablesSupportForWriteCommands GUCs
  CHANGELOG.md
  internal/pg_documentdb_distributed/src/test/regress/expected/bson_query_operator_near_nearsphere.out
  internal/pg_documentdb_distributed/src/test/regress/expected/commands_crud_ignore_common_spec_fields.out
  internal/pg_documentdb_distributed/src/test/regress/postgresql.conf
  internal/pg_documentdb_distributed/src/test/regress/sql/commands_crud_ignore_common_spec_fields.sql
  pg_documentdb/src/configs/feature_flag_configs.c
  pg_documentdb/src/test/regress/expected/commands_crud_ignore_common_spec_fields.out
  pg_documentdb/src/test/regress/postgresql.conf
  pg_documentdb/src/test/regress/sql/commands_crud_ignore_common_spec_fields.sql
Owners: @documentdb/documentdb-maintainers

Merged PR 1787733: [fix] Verbose Logging Typo
  pg_documentdb_gw/src/configuration/dynamic.rs
  pg_documentdb_gw/src/lib.rs
Owners: @documentdb/documentdb-maintainers

Merged PR 1786924: Fetch the TTL index entries with desc sort order behind a GUC
  internal/pg_documentdb_distributed/src/test/regress/expected/commands_create_ttl_indexes.out
  internal/pg_documentdb_distributed/src/test/regress/sql/commands_create_ttl_indexes.sql
  pg_documentdb/src/configs/testing_configs.c
  pg_documentdb/src/ttl/ttl_index.c
Owners: @documentdb/documentdb-maintainers

Correct spelling of Patrick McLain's name (#298)
  MAINTAINERS.md
Owners: @documentdb/documentdb-maintainers

Deb package: support deb:trixie and update the workflow (#296)
  .github/workflows/build_packages.yml
  packaging/Dockerfile_build_deb_packages
  packaging/README.md
  packaging/build_packages.sh
Owners: @safern, @visridha, @shuaitian-git, @lichoil, @documentdb/documentdb-maintainers

packaging: run changelog updater in entrypoints and generate package-friendly changelog
  .gitignore
  packaging/build_packages.sh
  packaging/packaging-entrypoint-rpm.sh
  packaging/packaging-entrypoint.sh
  packaging/update_spec_changelog.sh
Owners: @documentdb/documentdb-maintainers
